

html,body{

    font-family: 'Roboto Mono', monospace;
    display: block;
    margin: auto;
}


.headers{
    background-image: url(bg.jpg);
    height: 100vh;
    background-repeat: no-repeat ;
    background-size: cover;
}



.container{
    margin: 0px auto;
    
}

.packege{
    padding: 0 ;
}


h1{
    text-align: center;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 40px;
    margin: auto ;

}

.reg-data{
    text-align: center;
}

.reg-data input{
    padding: 15px 100px;
    margin-bottom: 40px ;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.244);
    color: aliceblue;
    border-color: aqua;
}

.reg-data input:hover{
    background-color: rgb(7, 2, 67);
}

.cover{
    margin: auto;
    border-radius: 30px;
}

.packege-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.packege-btn button{
    background-color: rgba(0, 0, 0, 0.321);
    padding: 10px 20px;
    border-radius: 50px;
    border-color: aqua;
    color: rgba(255, 255, 255, 0.845) ;
    
}

.packege-btn button:hover{
    background-color: rgb(7, 2, 67);
}


p{
    text-align: center;
    color: #fff;
}

p a{
    text-decoration: none;
    color: #80cafe;
}

.roudmap{

    background-color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.roudmap a{
    text-decoration: none;
    color: aliceblue;
}


@media (max-width: 423px){
    .reg-data input{
        padding: 10px 10px;
    }
}