*{box-sizing: border-box;}

html,body{
    background-color: #1a2a3e;
    font-family: 'Roboto Mono', monospace;
    color: #fff;


}

.container{
    margin: 0px auto;
}

.packege{
    
    background-color:#1a1f25 ;
    border-radius: 50px 50px 50px 50px;
    padding: auto;

}

h1{
    text-align: center;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;

}

.reg-data{
    text-align: center;
}

.reg-data input{
    margin-bottom: 10px;
    padding: 5px 70px;
    margin-bottom: 30px ;
    text-align: center;
    border-radius: 50px;
    background-color: black;
    color: aliceblue;
}

.cover{
    margin: auto;
    border-radius: 30px;
}

.packege-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.packege-btn button{
    background-color: black;
    padding: 10px 20px;
    border-radius: 50px;
    border-color: aqua;
    color: rgba(255, 255, 255, 0.845) ;
    
}


p{
    text-align: center;
}

p a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.336);
}


